%p#notice= notice

.row
  .col-md-6.col-md-offset-3
    = image_tag @referal_code.hashtag.user.logo.url, style: 'width: 300px; height: 300px;'
%p
  Congrats!!
%p
  Your discount code has been verified and your referal code has been mailed to you.
%p
  Share your referal code and enjoy!.
